<div class="container">
  <div class="mainFoto d-flex flex-wrap justify-content-between">
    <div class="pictureWrapper m-auto" style="width:50%">
      <img src=" ../../assets/homepage/mainFoto.png" class="w-100 h-100 pictureKate">
    </div>
    <div class="mainButtons m-auto">
      <ul class="linksGroup mb-5">
        <li><a routerLink="/mainType/musician" class="imageLinks"><span>Musicians</span><img src=" ../../assets/homepage/musicianHomePage.jpeg" class="rounded mainLinks" width="250px"></a></li>
        <li><a routerLink="/mainType/dancer" class="imageLinks"><span>Dancers</span><img src=" ../../assets/homepage/dancer1.jpeg" class="rounded mainLinks " width="250px"></a></li>
        <li><a routerLink="/mainType/circus" class="imageLinks"><span>Circus Acts</span><img src=" ../../assets/homepage/acobat1.jpeg" class="rounded mainLinks" width="250px"></a></li>
      </ul>
    </div>
  </div>
</div>
