.context{
    color: white;
}
.name{
    font-size:50px;
    text-align: center;

}
.foto{
    text-align: center;
    width: 500px;
    height: 500px;
}
.video{
    text-align: center;
    width: 500px;
}
h3{
    margin-bottom: 30px;
}
.picture, .videos{
    border: 1px solid white;
}

.bio{
    text-align: center;
    margin-bottom: 20px;
}
.artistBio{
    border: 1px solid white;
    text-align: justify;
    font-size: 20px;
    padding: 25px;
    white-space: pre-line;
}

.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.noFoto{
    text-align: center;
    width: 500px;
    height: 400px;
    border: 1px solid white;
    font-size: 30px;

}
.noFoto p{
    position: relative;
    top:30%;
}

.picture{
    width: 300px;
    height: 400px;
    margin: auto ;
    border: none;
}
