<div *ngIf="artist" class="container">
  <div class="context">
    <p class="name">{{artist.id}}</p>
    <div class="wrapper">
      <div class="foto m-auto">
        <h3>Photos:</h3>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">

            <div *ngFor="let picture of artist.pictures;let first = first;" [ngClass]="{ active: first}" class="carousel-item">
              <div class="picture d-flex align-items-center">
                <img class="d-block w-100" src="../../assets/Uploads/{{picture.path}}" alt="Second slide">
              </div>
            </div>
          </div>

          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <div class="video m-auto">
        <h3>Videos:</h3>
        <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel" data-interval="0">
          <div class="carousel-inner">

            <div *ngFor="let video of artist.videos;let first = first;" [ngClass]="{ active: first}" class="carousel-item">
              <iframe class="d-block w-100 videos" frameborder="0" [src]="sanitize(video.link)" height="475px"></iframe>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="bio w-100 mt-5 mb-5">
        <h3>Info About Act:</h3>
        <div class="artistBio">
          <p>{{ artist.biography }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
