<div class="container">
  <div class="text">
    <img src="../../assets/about/aboutPage.jpeg" class="img-fluid float-left w-50 h-50 mr-4 mb-4">
    <h2> Hello,</h2>
    <p>We are American based talent agency, mainly focusing on hiring variety artists for cruise ship industry along with corporate events.
      We represent headliner entertainers of different kind :
      Acrobats, Adagio Duos, Ballroom Duos, Singers, Dancers and other variety acts.
      We are constantly looking for highly motivated individuals  that willing to work in a fun and creative environment  on board of major cruise lines.
      Our clients offer very competitive pay, free accommodation, travel and meals. It’s an amazing opportunity to do what you love to do and travel around the world.
    </p>
    <p>
      We are interested in your craft and we would like to represent you to our clients.
      We kindly ask you to submit an  online application at our website.
    </p>
  </div>
</div>
