.text{
    color: white;
    font-size: 21px;
    text-align: justify;
}
.artist_group{
    position: relative;
    top:250px;
    left:26px;
}
.mainLinks{
    border: 1px solid white;
    transition: transform 1s ease;
}
.linksGroup{
    list-style-type: none;
    color:white;
    position: relative;
    top:0px;
    right: 20px;
}

.imageLinks > *{
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    color:white;
    font-size: 20px;
}

.mainLinks:hover,.imageLinks:hover > img {
    transform: scale(1.1);
}
.imageLinks:hover{
    text-decoration: none;
}
.text_contacts{
    color: white;
    font-size: 30px;
    text-align: justify;
}
.text_contacts h2{
    text-decoration: underline;
}
.text_contacts p{
    font-size: 25px;
    margin-bottom: 45px;
}

.followUs{
    width: 50px;
    height: 50px;
}

