<div class="container">
  <ul *ngIf="this.name=='musician'" class="linksGroup">
    <li><a routerLink="/oneType/Musicians" class="imageLinks"><span>Musicians</span><img src="../../assets/main-type/Insrumentalis.jpeg" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
    <li><a routerLink="/oneType/Singers" class="imageLinks"><span>Singers</span><img src="../../assets/main-type/Vocalist.jpeg" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
  </ul>
]  <ul *ngIf="this.name=='dancer'" class="linksGroup">
    <li><a routerLink="/oneType/Ballroom" class="imageLinks"><span>Ballroom Couples</span><img src="../../assets/main-type/Ballroom.jpeg" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
    <li><a routerLink="/oneType/Dancers" class="imageLinks"><span>Dancers</span><img src="../../assets/main-type/Dancers2.jpeg" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
  </ul>
  <ul *ngIf="this.name=='circus'" class="linksGroup1">
    <li><a routerLink="/oneType/Specialty" class="imageLinks"><span>Specialty</span><img src="../../assets/main-type/Specials-Type1.jpeg" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
    <li><a routerLink="/oneType/Acrobatics" class="imageLinks"><span>Acrobatics</span><img src="../../assets/main-type/Acrobat-Type.jpeg" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
    <li><a routerLink="/oneType/Juggling" class="imageLinks"><span>Juggling</span><img src="../../assets/main-type/Juggler.jpeg" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
    <li><a routerLink="/oneType/Hand-Ballancing" class="imageLinks"><span>Hand-Ballancing</span><img src="../../assets/main-type/Hand-Ballancing.jpeg" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
    <li><a routerLink="/oneType/Magic" class="imageLinks"><span>Magic</span><img src="../../assets/main-type/Magic-Type.jpeg" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
    <li><a routerLink="/oneType/Adage" class="imageLinks"><span>Adage</span><img src="../../assets/main-type/Adage-Type.jpeg" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
    <li><a routerLink="/oneType/Aerial" class="imageLinks"><span>Aerial Acts</span><img src="../../assets/main-type/Aerial-Type.jpeg" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
    <li><a routerLink="/oneType/Ice Scaters" class="imageLinks"><span>Ice Skaters</span><img src="../../assets/main-type/IceSkaters-Type.jpeg" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
    <li><a routerLink="/oneType/Show" class="imageLinks"><span>Show</span><img src="../../assets/main-type/Show-Type.jpeg" class="img-fluid rounded mainLinks" width="300px" height="300px"></a></li>
  </ul>
</div>
