<div class="container mt-5">
  <div class="artist_group d-flex justify-content-around">
    <div *ngFor='let artist of artists' class="object">
      <a routerLink="/artist/{{artist.id}}" class="picture_link">
        {{artist.type}}
        <div  class="picture_artist d-flex align-items-center">
          <img  src="../../assets/Uploads/{{artist.pictures[0].path}}" alt="Second slide" class="img-fluid m-auto" style="max-width: 100%;max-height: 100%;">
        </div>
      </a>
    </div>
  </div>
</div>


