<div class="container">
    <div class="d-flex flex-row flex-wrap justify-content-between mb-1">

        <div>
            <img src="../assets/app/Logo.jpeg" class="img-fluid rounded logo-0" width="250" height="250">
        </div>

        <div>
            <nav class="navbar navbar-expand-lg navbar-dark mt-5 ml-4 p-0 bg-dark">
                <button class="navbar-toggler w-100" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse bg-dark" id="navbarTogglerDemo03">
                    <ul class="navbar-nav bg-dark">
                        <li class="nav-item">
                            <a routerLink="/homepage" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/about" class="nav-link">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Artists
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a routerLink="/oneType/Musicians" class="dropdown-item">Musicians</a>
                                <a routerLink="/oneType/Singers" class="dropdown-item">Singers</a>
                                <a routerLink="/oneType/Ballroom" class="dropdown-item">Ballroom Couples</a>
                                <a routerLink="/oneType/Dancers" class="dropdown-item">Dancers</a>
                                <a routerLink="/oneType/Specialty" class="dropdown-item">Specialty</a>
                                <a routerLink="/oneType/Acrobatics" class="dropdown-item">Acrobatics</a>
                                <a routerLink="/oneType/Juggling" class="dropdown-item">Juggling</a>
                                <a routerLink="/oneType/Hand-Ballancing" class="dropdown-item">Hand-Ballancing</a>
                                <a routerLink="/oneType/Magic" class="dropdown-item">Magic</a>
                                <a routerLink="/oneType/Adage" class="dropdown-item">Adage</a>
                                <a routerLink="/oneType/Aerial" class="dropdown-item">Aerial</a>
                                <a routerLink="/oneType/Ice Scaters" class="dropdown-item">Ice Skaters</a>
                                <a routerLink="/oneType/Show" class="dropdown-item">Show</a>
                             </div>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/contacts" class="nav-link">Contacts</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/join" class="nav-link">Join</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
