@import '~bootstrap/dist/css/bootstrap.min.css';
html,
body,
header,
.view {
    height: 100%;
    background-color: black;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 100vh;
    }

}
@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #78909c !important;
    }
}

h1 {
    letter-spacing: 8px;
}

h5 {
    letter-spacing: 3px;
}

.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}

.dropdown-menu {list-style: none;background-color:black;}
.dropdown .nav-link {background-color:black; color:white; text-decoration: none;}
.dropdown .dropdown-menu a{color: white;background-color:black; text-decoration: none; border-bottom: 3px solid transparent; font-size: 20px;}
.dropdown .btn:hover {background: black; color:white;}
.dropdown .btn:active {background: black; color:white;}
.dropdown .btn:focus {background: black; color:white}
.dropdown-menu .dropdown-item {background: black;color: white;}
.container .dropdown .dropdown-menu  a:hover
{
    color: white;
    background-color:black;
    border-color: white;
}
.nav-item{
    padding-right: 50px;
    font-size: 20px;
    background-color:black;

}
.navbar-nav{
    border-bottom: 1px solid white;
    position: relative;
    top:40%;
}
.logo-1{
    margin-left: 140px;
}
.navbar-toggler{
    width:10%;
    border-radius:0px;
    padding: 5px;
    color: #1E1E1E;
    background-color: #1E1E1E;
}
.navbar-toggler:active{
    border:none;
}

#login_email, #login_password{
    margin-top: 20px;
}

.navbar-collapse{
    color: black;
}






